/********** Base styles **********/
* {
  box-sizing: border-box;
  background-color: grey;
}
h1 { text-align: center;
  color:pink;
  
}

h2 {
  display: inline-block;
  position:relative;
  text-align:center;
  border: double pink 4px;
  background-color:deeppink;
  width: 150px;
  height: 50px;
  font-family: Helvetica;
  color: white;
  padding:6px;
  margin-top: 10px;
  float: right;

}

div {
  display: inline-block;
  position:relative;
  border:none;
  width: 400px;
  margin: 5px;


}

p{
  border: double pink  4px;
  padding: 50px 3px 3px 3px;
  text-align:left;
  margin: 10px auto 10px auto;
}


/* Simple Responsive Framework. */
.row {
  width:100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, {float: left; border: 1px solid pink;}
  .col-lg-1 { width: 33,3%;}
  .col-lg-2 { width: 33,3%;}
  .col-lg-3 { width: 33,3%;}
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px){ 
  .col-md-1, .col-md-2, .col-md-3,{ float: left; border: 1px solid pink;}
  .col-md-1 { width: 50%;}
  .col-md-2 { width: 50%;}
  .col-md-3 { width: 100%;}
}

