/********** Base styles **********/
* {
  box-sizing: border-box;
  background-color: grey;
}
h1 { text-align: center;
  color:pink;
  
}

#p1 {
  position:relative;
  text-align: center;
  border: 1px solid pink;
  background-color: black;
  width: 160px;
  height: 30px;
  font-family: Helvetica;
  color: white;
  margin:1px;
  float: right;

}

#p2 {
  position:relative;
  text-align: center;
  border: 1px solid pink;
  background-color: gold;
  width: 160px;
  height: 30px;
  font-family: Helvetica;
  color: white;
  margin:1px;
  float: right;

}

#p3 {
  position:relative;
  text-align: center;
  border: 1px solid pink;
  background-color: red;
  width: 160px;
  height: 30px;
  font-family: Helvetica;
  color: white;
  margin:1px;
  float: right;

}


.text{
  position:relative;
  padding: 10px;
  border: 1px solid pink;
}


/* Simple Responsive Framework. */
.row {
  width:100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, {float: left; border: 1px solid pink;}
  .col-lg-1 { width: 33,3%;}
  .col-lg-2 { width: 33,3%;}
  .col-lg-3 { width: 33,3%;}
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px){ 
  .col-md-1, .col-md-2, .col-md-3,{ float: left; border: 1px solid pink;}
  .col-md-1 { width: 50%;}
  .col-md-2 { width: 50%;}
  .col-md-3 { width: 100%;}
}

