
* {
  box-sizing: border-box;
  background-color:black;
}
div {
     width: 100%;
}
h1 { text-align: center;
     color:white;
  
}

a {
  display: inline-block;
  position:relative;
  text-align: center;
  padding-top: 10px;
  border: double gold 4px;
  background-color:Seagreen;
  width: 150px;
  height: 50px;
  font-family: Helvetica;
  color: white;
  margin-left: 100%;
  margin-bottom: 2%;
  float: right;

}
#Sushi{
  background-color:Salmon;
}
#Beef{
  background-color:DarkRed;
}
#Chicken{
  background-color:DarkTurquoise;
}

p{
  margin: 2px;
  width: 33%;
  border: double gold 4px;
  padding: 0px 0px 5px 15px;
  text-align:left;
  color: white ;
  background-color:Olive;
  float: right;
}

@media (min-width:992px){

  p {
    width: 32%;
     margin-right:0.9%;

  }
}

@media (min-width:768px) and (max-width:991px){
  
  p {
    margin-right: 0.6%;
  }

  #p1 {
    width:49%;
  }
  #p2 {
    width:49%;

  }
  #p3 {
    width:98.8%;
   
  }
}
@media (max-width: 767px){

    p {
    margin-right: 0.1%;
  }
  #p1 {
    width:100%;
  }
  #p2 {
    width:100%;

  }
  #p3 {
    width:100%;
   
  }

}


